<template lang="pug">
#app
	.w3-top
		.w3-bar.w3-dark-grey.w3-large.w3-padding
			a.w3-bar-item.w3-button.w3-mobile.w3-blue-grey(href='#') 
				i.fas.fa-sun.fa-2x.w3-margin-right
				| Engenho Novo de Novo 
			a.w3-bar-item.w3-button.w3-mobile.w3-right(href='#') Fungus
			a.w3-bar-item.w3-button.w3-mobile.w3-right(href='#') About Us
			.w3-dropdown-hover.w3-mobile
				button.w3-button
					| Suspensa
					i.material-icons keyboard_arrow_down
				.w3-dropdown-content.w3-bar-block.w3-dark-grey
					a.w3-bar-item.w3-button.w3-mobile(href='#') Lancelot Link
					a.w3-bar-item.w3-button.w3-mobile(href='#') Golf Links
					a.w3-bar-item.w3-button.w3-mobile(href='#') Hyperactive Links

	router-view
</template>

<style lang="scss">
#app {
	font-family: 'News Cycle', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: #2c3e50;
}
#nav {
	padding: 30px;
	a {
		font-weight: bold;
		color: #2c3e50;
		&.router-link-exact-active {
			color: #42b983;
		}
	}
}
</style>
